name: Simple CI Pipeline

on:
  push:

jobs:
  run-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run CI script
        run: |
          echo "CI pipeline executed successfully"
